{% extends "mainpage/base.html" %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron text-center">
				<h2>
					Categories
				</h2>


			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<ul class="list-unstyled text-center">
				<li>
					<h3>
						<a href="/departments">City of Kingman Departments</a>
					</h3>
					<br>
				</li>
				<li>
					<h3>
						<a href="/utilities">Utilities & Services</a>
					</h3>
					<br>
				</li>
				<li>
					<h3>
						<a href="/education">Education and Training</a>
					</h3>
					<br>
				</li>
				<li>
					<h3>
						<a href="/restaurant">Restaurants</a>
					</h3>
					<br>
				</li>
				<li>
					<h3>
						<a href="/LVRV">Lodging, Camping and RV Parks</a>
					</h3>
					<br>
				</li>
				<li>
					<h3>
						<a href="/locatlattractions">Local Attractions</a>
					</h3>
					<br>
				</li>
				<li>
					<h3>
						<a href="http://www.krmc.com">Kingman Regional Medical Center</a>
					</h3>
					<br>
				</li>

			</ul>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>
{% endblock %}