{% extends "mainpage/base.html" %}

{% block content %}

	<div class="jumbotron text-center">
		<h1>Kingman Directory</h1>
		<p>Find phone numbers to fit your needs for any situation in Kingman, Arizona!</p>
		<a href="/explore" class="btn btn-primary">Explore</a>
		
		
	</div>
	<div class="row">
		<div class="col-md-4">
			<h3>Departments<h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum, neque non placerat laoreet, odio nisl hendrerit lorem, aliquet efficitur metus magna sed arcu. 
				Nam aliquam erat a erat euismod sagittis. Quisque mattis dignissim lectus, vel maximus odio aliquam sed. Curabitur tempus imperdiet diam, sit amet elementum sem pellentesque ut. 
				
			</p>
			<a href="/departments" class="btn btn-success">Explore</a>
		</div>
		<div class="col-md-4">
			<h3>Restaurants<h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum, neque non placerat laoreet, odio nisl hendrerit lorem, aliquet efficitur metus magna sed arcu. 
				Nam aliquam erat a erat euismod sagittis. Quisque mattis dignissim lectus, vel maximus odio aliquam sed. Curabitur tempus imperdiet diam, sit amet elementum sem pellentesque ut. 
				
			</p>
			<a href="/restaurant" class="btn btn-success">Explore</a>
		</div>
		<div class="col-md-4">
			<h3>Kingman Regional Medical Center<h3>
			<p>
				Kingman Regional Medical Center (KRMC) is the largest healthcare provider in northwest Arizona and the only remaining non-profit hospital in Mohave County, Arizona. As a 235-bed multi-campus healthcare system, our center includes more than 1,800 employees, 280 physicians/allied health professionals, and 250 volunteers who care for the health needs of our community.
			</p>
			<a href="http://www.krmc.com" class="btn btn-success">Website</a>
		</div>
		

{% endblock %}